@import './CommonStyles/variables';
@import './CommonStyles/mixins';
@import './CommonStyles/fonts';
@import './CommonStyles/base';
@import './Header/Header';
@import './Section_1/Section_1';
@import './Section_2/Section_2';
@import './Section_3/Section_3';
@import './Section_4/Section_4';
@import './Section_5/Section_5';
@import './Footer/Footer';