@font-face {
  font-family: 'SF Pro Display';
  src: local("SF Pro Display"), url(../assets/fonts/sf-pro-display_regular.woff2) format("woff2");
  font-weight: 400; }

@font-face {
  font-family: 'SF Pro Display';
  src: local("SF Pro Display"), url(../assets/fonts/sf-pro-display_light.woff2) format("woff2");
  font-weight: 200; }

@font-face {
  font-family: 'SF Pro Display';
  src: local("SF Pro Display"), url(../assets/fonts/sf-pro-display_semibold.woff2) format("woff2");
  font-weight: 600; }

* {
  box-sizing: border-box; }

html {
  font-family: "SF Pro Display", Verdana, sans-serif; }

html, body, h1, h2, h3, h4, ul, ol, p {
  margin: 0;
  padding: 0; }

button, input {
  border: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

a:active,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #FFFFFF; }
