.lighter {
  border: 1px solid gray;
  margin: 0 auto;
  width: 60px; }

.light {
  border: 1px solid gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0.5rem auto; }

.red.active {
  background: red; }

.yellow.active {
  background: yellow; }

.green.active {
  background: green; }
