@mixin mobile {
  @media (max-width: #{$mobileScreen}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobileScreen+0.02px}) and (max-width: #{$tabletScreen}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$tabletScreen+0.02px}) and (max-width: #{$laptopsScreen}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$laptopsScreen+0.02px}) {
    @content;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin horizontalCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -54%);
}

@mixin clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

@mixin fullSize {
  width: 100%;
  height: 100%;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin headerText {
  font-size: 3rem;
  color: rgba(86,83,76,1);
  letter-spacing: 0.1rem;
}

@mixin underHeaderText {
  font-size: 0.9rem;
  color: rgba(164,125,94,1);
  font-weight: 700;
  letter-spacing: 0.05rem;
}

@mixin headerTextMobile {
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

@mixin underHeaderTextMobile {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}