.page-header {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(43,43,43,.4);
  &__nav {
    display: flex;
    position: relative;
    height: 4.5rem;
    color: #FFFFFF;
    .nav-logo {
      width: 12%;
      font-family: $baseFontFamilyScriptina;
      font-size: 1.7rem;
      letter-spacing: 0.4rem;
      line-height: 3rem;
      padding-left: 0.3rem;
      @include tablet {
        letter-spacing: 0.1rem;
      }
      @include mobile {
        padding-left: 1rem;
        line-height: 3.5rem;
      }

    }
    .nav-menu {
      display: flex;
      justify-content: center;
      width: 75%;
      @include tablet {
        width: 78%;
      }
      @include mobile {
        display: none;
      }
      &__item {
        padding: 1.5rem 0.5rem;
        font-size: 0.85rem;
        letter-spacing: 0.25rem;
        @include tablet {
          letter-spacing: 0.2rem;
          padding: 1.5rem 0.3rem;
        }
      }
      &__item:hover {
        text-shadow: 1px 1px 2px #FFFFFF;
      }
      &__space {
        padding: 1.5rem 1.75rem;
        font-size: 0.85rem;
        letter-spacing: 0.25rem;
        @include laptop {
          padding: 1.5rem 0.5rem;
        }
        @include tablet {
          padding: 1.5rem 0.1rem;
        }
      }
    }
    .nav-social {
      display: flex;
      justify-content: flex-end;
      width: 13%;
      @include tablet {
        width: 10%;
      }
      @include mobile {
        display: none;
      }
      &__link {
        padding: 1.5rem 0.9rem;
        @include tablet {
          padding: 1.5rem 0.6rem;
        }
      }
      &__link:hover {
        text-shadow: 1px 1px 2px #FFFFFF;
      }
      &__link:last-child {
        padding: 1.5rem 0.8rem 1.5rem 0.9rem;
      }
    }
  }
}