.s2 {
  position: relative;
  z-index: 1;
  height: 40rem;
  width: 100%;
  background-color: rgba(254,254,252,1);
  &-circle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -47%);
    z-index: 1;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #FFFFFF;
  }
  &-image {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -47%);
    z-index: 2;
  }
  &-body {
    display: flex;
    border: 1px solid black;
    height: 100%;
    &__left {
      height: 100%;
      width: 50%;
      border: 1px dashed gray;
    }
    &__right {
      height: 100%;
      width: 50%;
      border: 1px dashed gray;
    }
  }
}