.s1 {
  height: 960px;
  background: url("../../assets/FinalProject/firstBackground.png") center /cover no-repeat;
  @include  laptop {
    height: 100vh;
  }
  @include  tablet {
    height: 100vh;
  }
  @include  mobile {
    height: 100vh;
  }
  &-body {
    height: 100%;
    text-align: center;
    color: #FFFFFF;
    > h1 {
      padding: 16rem 0 2rem;
      font-size: 7rem;
      letter-spacing: 0.5rem;
      font-weight: 400;
      @include laptop {
        padding: 18rem 0 2rem;
      }
      @include tablet {
        font-size: 5rem;
        padding: 18rem 0 2rem;
      }
      @include mobile {
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
        font-weight: 700;
        padding: 14rem 0 2rem;
      }
    }
    > div > img {
      display: none;
    }
    > h3 {
      padding: 3rem 0 5rem;
      font-size: 1.4rem;
      font-family: $baseFontFamily;
      letter-spacing: 0.35rem;
      line-height: 2.5rem;
      font-weight: 200;
      white-space: pre-line;
      @include mobile {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.15rem;
      }
    }
    > button {
      color: #FFFFFF;
      font-family: $baseFontFamilyAlegreya;
      font-size: 0.85rem;
      font-weight: 700;
      letter-spacing: 0.3rem;
      height: 48px;
      width: 200px;
      background-color: rgba(124,122,116,0.75);
      border: 1px dashed rgba(124,122,116,1);
      cursor: pointer;
      box-shadow: 0 0 40px 40px rgba(124,122,116,0) inset;
      transition: .2s ease-in-out;
    }
    > button:hover {
      box-shadow: 0 0 10px 0 #FFFFFF inset, 0 0 10px 4px #FFFFFF;
      background-color: rgba(124,122,116,0.9);
    }
  }
  &-cover {
    position: absolute;
    z-index: -1;
    @include fullSize;
    background: rgba(43,43,43,0.2);
    left: 0;
    top: 0;
    @include laptop {
      background: rgba(43,43,43,0.3);
    }
    @include tablet {
      background: rgba(43,43,43,0.3);
    }
    @include mobile {
      background: rgba(43,43,43,0.3);
    }
  }
  &-circle {
    @include absoluteCenter;
    z-index: 2;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(43,43,43,.7), rgba(150,150,150,.05));
  }
}